[submodule "firmware/libraries/Adafruit_Sensor"]
	path = firmware/libraries/Adafruit_Sensor
	url = git@github.com:Vijfendertig/Adafruit_Sensor.git
[submodule "firmware/libraries/Adafruit_BNO055"]
	path = firmware/libraries/Adafruit_BNO055
	url = git@github.com:Vijfendertig/Adafruit_BNO055.git
[submodule "dependencies/arduino-cmake"]
	path = tools/arduino-cmake
	url = git@github.com:Vijfendertig/arduino-cmake.git
